/* * SECTION 1 */
@keyframes astronautOneUpAndDown {
    from {
        transform: translateY(-30%);
    }
    to {
        transform: translateY(0%);
    }
}
@keyframes satelliteUpAndDown {
    from {
        transform: translateY(200%);
    }
    to {
        transform: translateY(150%);
    }
}

/* * SECTION 2 */
@keyframes meteorFall {
    from {
        transform: translate(-80%, -80%);
    }
    to {
        transform: translate(300%, 300%);
    }
}
@keyframes astronautFloatX{
    from {
        transform: translateX(10%);
    }
    to {
        transform: translateX(110vw);
    }
}
@keyframes astronautFloatY {
    from {
        margin-bottom: 2.2rem;
    }
    to {
        margin-bottom: -2rem;
    }
}

/* * SECTION 3 */
    @keyframes astronautMoveLeft {
        from {
            transform: translateX(0);
        }
        to {
            transform: translateX(-100vw);
        }
    }
    @keyframes astronautShakeY {
        0% {
            margin-top: 0;
        }
        25% {
            margin-top: -1rem;
        }
        50% {
            margin-top: 0;
        }
        75% {
            margin-top: -1rem;
        }
        100% {
            margin-top: 0;
        }
    }
    
