/* * SECTION 1 */
@keyframes astronautOneUpAndDown {
    from {
        transform: translateY(-30%);
    }
    to {
        transform: translateY(0%);
    }
}
@keyframes satelliteUpAndDown {
    from {
        transform: translateY(200%);
    }
    to {
        transform: translateY(150%);
    }
}

/* * SECTION 2 */
@keyframes meteorFall {
    from {
        transform: translate(-80%, -80%);
    }
    to {
        transform: translate(300%, 300%);
    }
}
@keyframes astronautFloatX{
    from {
        transform: translateX(10%);
    }
    to {
        transform: translateX(120vw);
    }
}
@keyframes astronautFloatY {
    from {
        margin-bottom: 2.2rem;
    }
    to {
        margin-bottom: -2rem;
    }
}


