@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');

@import "animations.css";

:root {
    --main-font: 'Chakra Petch', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*:not(img) {
    position: relative;
    z-index: 1;
}

html {
    scroll-behavior: smooth;
}

img:not(#testimonies img, #contact-info img, #social-media img) {
    position: absolute;
    z-index: 0;
    right: 10%;
    will-change: transform; 
    filter: drop-shadow(-2px -3px 5px #00000079);
}

.align-right {
    text-align: right;
}
.align-center {
    text-align: center;
}

main {
    width: 100%;
    height: 100%;
    color: #fff;
    text-shadow: 0 0 5px #000;
    font-family: var(--main-font);
    font-weight: 400;
}

section {
    width: 100%;
    height: 100vh;
    padding: 2rem;
    background: center no-repeat scroll;
    background-size: cover;
    box-shadow: inset 1000px 1000px 10px #0000004d;

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    /* justify-content: center; */
    /* align-items: center; */

    h1 {
        font-size: 3.5rem;
    }
    h1, h2 {
        text-align: center;
        align-self: center;
        margin: 2rem auto;
    }
    
    h2 {
        font-size: 2.4rem;
    }
    
    h3 {
        font-size: 1.8rem;
    }
    
    p {
        font-size: 1.2rem;
    }

    .btn {
        max-width: fit-content;
        align-self: center;
        padding: 1rem 2rem;
        margin: 2rem auto;
        border: none;
        border-radius: 12px;
        background-color: #b1b1b17c;
        color: #fff;
        font-family: var(--main-font);
        font-weight: 600;
        cursor: pointer;
        transition: all 0.3s ease-in-out;
        &:hover {
            background-color: #fff;
            color: #000;
        }
    }
    a.btn {
        text-decoration: none;
        text-align: center;
    }
}

#hero {
    background-image: url("../img/backgrounds/background-1.jpg") ;
    flex-direction: column;
    justify-content: space-evenly;
    z-index: 2;

    img {
        margin-left: 50%;
    }
    img#astronaut-1 {
        animation: astronautOneUpAndDown 4s ease-in-out infinite alternate;
        right: 5%;
    }
    img#satellite {
        animation: satelliteUpAndDown 4s ease-in-out infinite alternate;
        right: 15%;
    }

    p {
        font-size: 2.2rem;
    }
    p:first-of-type {
        align-self: flex-start;
        margin-left: 10%;
    }
    p:last-of-type {
        align-self: center;
    }
}

#about-us {
    background-image: url("../img/backgrounds/background-2.jpg");
    display: grid;
    grid-template-areas: ". title ."
                    "p1 . p2";
    position: relative;
    overflow: hidden;

    h2 {
        grid-area: title;
        text-align: center;
        margin-top: -2rem;
    }
    p {
        max-width: 640px;
        justify-self: center;
        font-size: 1.6rem;
    }
    p:first-of-type {
        grid-area: p1;
        text-align: left;
    }
    
    p:last-of-type {
        grid-area: p2;
    }

    img#meteor {
        animation: meteorFall 6s ease-out infinite;
        z-index: 0;
    }
    img#astronaut-2 {
        bottom: 5%;
        left: -10%;
        animation: astronautFloatX 30s linear infinite, astronautFloatY 3s ease-in-out alternate infinite;
    }
}

#our-fleet {
    background-image: url("../img/backgrounds/background-3.jpg");
    display: grid;
    grid-template-areas: ". title ."
                    "h3a h3b h3c"
                    "pa pb pc";
    column-gap: .5rem;
    row-gap: 4rem;
    grid-template-columns: 1fr 1.5fr 1fr;
    grid-template-rows: 40% 10% 30%;

    h2 {
        grid-area: title;
    }
    h3, p {
        justify-self: center;
    }
    h3 {
        align-self: center;
    }

    h3:nth-of-type(1) {
        grid-area: h3a;
    }
    h3:nth-of-type(2) {
        grid-area: h3b;
    }
    h3:nth-of-type(3) {
        grid-area: h3c;
    }
    p:nth-of-type(1) {
        grid-area: pa;
    }
    p:nth-of-type(2) {
        grid-area: pb;
    }
    p:nth-of-type(3) {
        grid-area: pc;
    }
}

#explore-with-us {
    background-image: url("../img/backgrounds/background-4.jpg");
    justify-content: space-evenly;

    p {
        font-size: 1.8rem;
        max-width: 600px;
    }
    p:first-of-type {
        align-self: flex-start;
        margin-left: 5%;
    }
    p:last-of-type {
        align-self: flex-end;
        margin-right: 5%;
    }
}

#mission-highlights {
    background-image: url("../img/backgrounds/background-5.jpg");
    display: grid;
    grid-template-areas: ". title ."
                        "h3a . h3b"
                        "p1 . p2";
    grid-template-rows: 40% 15% 30%;
    grid-template-columns: 1.5fr 1fr 1.5fr;

    h2 {
        grid-area: title;
    }
    h3:first-of-type {
        grid-area: h3a;
    }
    h3:last-of-type {
        grid-area: h3b;
    }
    p {
        font-size: 1.4rem;
    }
    p:first-of-type {
        grid-area: p1;
    }
    p:last-of-type {
        grid-area: p2;
    }
    b {
        font-weight: bold;
        text-decoration: underline;
    }
    h3:first-of-type, p:first-of-type {
        margin-left: 4rem;
    }
    h3:last-of-type, p:last-of-type {
        margin-right: 4rem;
    }
}

#join-us {
    background-image: url("../img/backgrounds/background-6.jpg");
    /* align-items: center; */
    justify-content: space-around;

    p {
        font-size: 1.6rem;
        margin: 0 auto;
        text-align: left;
    }
}

#testimonial {
    background-image: url("../img/backgrounds/background-7.jpg");


    #testimonies {
        width: 100%;
        display: flex;
        flex-direction: row;
        gap: 2rem;
        justify-content: space-evenly;
        align-items: baseline;
        margin: auto;

    div {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;
        p:first-of-type {
            font-size: 1.6rem;
            max-width: 800px;
        }
        p:last-of-type {
            align-self: flex-end;
            margin-right: 2rem;
        }
    }
    
    img {
        max-width: 160px;
        border-radius: 50%;
    }
}
}

#contact {
    background-image: url("../img/backgrounds/background-8.jpg");
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;

    p {
        text-align: center;
        margin-bottom: 2rem;
    }

    #contact-info, #social-media {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        gap: 1rem;

        a {
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: #fff;
            width: 80px;
            height: 80px;

            border-radius: 12px;
            cursor: pointer;
            transition: all 0.3s ease-in;
            &:hover {
                transform: rotate(45deg);
                background-color: #0000007c;
                img {
                    rotate: -45deg;
                }
            }
        }
        a[name="facebook"]:hover {
            background-color: #039ae5;
        }
        a[name="instagram"]:hover {
            background-image: linear-gradient(to bottom right, #304FFE, #4928F4, #6200EA, #673AB7, #8E24AA, #C2185B, #D81B60, #F50057, #FF1744, #FF5722, #FF6F00, #FF9800, #FFC107, #FFD54F, #FFE082, #FFECB3);
        }
        a[name="x"]:hover {
            background-color: #000;
        }
    }

    #contact-info img, #social-media img {
        transition: all 0.3s ease-in;
    }
    #social-media img {
        width: 72px;
    }
    
}